@import url(http://fonts.googleapis.com/css?family=Changa+One);

.game {
    font-family:'Changa One' serif;
    margin: 0 auto;
    text-align: center;
}

.header {
    background-image: url(images/header.png);
}

#guess {
    font-size: 2em;
    padding: 2px;
}

.instructions {
    font-size: 2em;
}

#answer {
    background-color: #43759f;
    padding: 1em 2em;
    text-align: center;
    border-radius: 40px;
    border: 4px double #fff;
    
}

.spin {
  width: 150px;
  font-size: 1em;
  border-radius: 10px;
  cursor: pointer;
}

.vowel {
  width: 150px;
  font-size: 1em;
  border-radius: 10px;
  cursor: pointer;
}

.solve {
  width: 150px;
  font-size: 1em;
  border-radius: 10px;
  cursor: pointer;
}

.newGame {
  width: 150px;
  font-size: 1em;
  border-radius: 10px;
  cursor: pointer;
}

.players {
    font-size: 1.5em;

}

.player1 {
    position: absolute;
    top: 100px;
    left: 50px;
    
}

.player2 {
    position: absolute;
    top: 100px;
    right: 50px;
}





.highlight {
  background-color: #FF4133;
  color: #FF4133;
  transform:rotateY(180deg);
  cursor: pointer;
}



/* This styling sets the position of the wheel.  The margin is what centers it.
// The webkit for the animation was found on stackoverflow.  It makes the wheel spin.
// 
// The webkit for transition was found from codepen.  It creates the circle border on the wheel.  

*/



}
.wheel {
    top: 0;
    left: 0;
    width: 500px;
    -moz-border-radius: 250px;
    -webkit-border-radius: 250px;
    border-radius: 250px;
    -webkit-transition: -webkit-transform 0.5s linear;
    -moz-transition: -moz-transform 0.5s linear;
    -opera-transition: -opera-transform 0.5s linear;
    -ms-transition: transform 0.5s linear;
}
.wheelticker {
    margin-left: 244px;
    font-family: Arial;
    font-size: 45pt;
}
