@import url(http://fonts.googleapis.com/css?family=Changa+One);

.game {
    font-family:'Changa One' serif;
}

.header {
    text-align: center;
}

.wheelArea {
    top: 150px;
}

.wheel {
    float: left;
    top: 0;
    left: 0;
    width: 500px;
    -moz-border-radius: 250px;
    -webkit-border-radius: 250px;
    border-radius: 250px;
    -webkit-transition: -webkit-transform 0.5s linear;
    -moz-transition: -moz-transform 0.5s linear;
    -opera-transition: -opera-transform 0.5s linear;
    -ms-transition: transform 0.5s linear;
}
.wheelticker {
    margin: 0 auto;
    text-align: center;
    display: inline-block;
    font-family: Arial;
    font-size: 45pt;
}


.gameControls button {
    text-transform: uppercase;
    z-index: 1000;
    border: 4px double #fff;
    background-color: #4153f4;
    padding: 6px 14px;
    color: white;
    font-family: inherit;
    font-size: 12pt;
}

#players {
    position: relative;
    padding: 10px;
    border: 2px black solid;
    width: 200px;
    margin: 5px;
    font-size: 14pt;
}

.instructions {
    font-size: 2em;
}

#answer {
    background-color: #4153f4;
    padding: 1em 2em;
    border-radius: 40px;
    border: 4px double #fff;
    
}


