@font-face {
	font-family: WheelofFortune;
	src: url(css/wheel-of-fortune/SF Fortune Wheel.ttf);
}


.game {
	background-color: #E3E9D3;
	margin: 0 auto;
	text-align: center;
}

#header {
	font-family: WheelofFortune;
	font-size: 3.0em;
}

#puzzleBoard {
	font-size: 2em;
	padding: 20px;
}

#spin {
  width: 150px;
  font-size: 1em;
  border-radius: 10px;
  cursor: pointer;
}

#vowel {
  width: 150px;
  font-size: 1em;
  border-radius: 10px;
  cursor: pointer;
}

#solve {
  width: 150px;
  font-size: 1em;
  border-radius: 10px;
  cursor: pointer;
}

#newGame {
  width: 150px;
  font-size: 1em;
  border-radius: 10px;
  cursor: pointer;
}

.players {
	display: inline-block;
	font-size: 1.5em;
}

#player1 {
	float: left;
}