@import url(http://fonts.googleapis.com/css?family=Changa+One);

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
/* Styles */
}

body {
    width:100%; 
    height:100%;
    
}

.game {
    font-family:'Changa One' serif;
}

.header {
    text-align: center;
}

.wheelArea {

    position: absolute;
    left: 600px;
    top: 225px;
    
}

.wheelticker {
    position: absolute;
    left: 350px;
    font-family: Arial;
    font-size: 45pt;
}

.wheel {
    -webkit-animation:spin 24s infinite;
   -moz-animation:spin 24s infinite;
    animation:spin 24s infinite;
   -moz-border-radius: 250px;
   -webkit-border-radius: 250px;
     border-radius: 250px;
   -webkit-transition: -webkit-transform 0.5s linear;
  -moz-transition: -moz-transform 0.5s linear;
   -opera-transition: -opera-transform 0.5s linear;
   -ms-transition: transform 0.5s linear;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } } 



#message {
    padding-bottom: 20px;
}


.gameControls button {
    position: relative;
    left: 450px;
    top: 310px;
    text-transform: uppercase;
    z-index: 1000;
    border: 4px double #fff;
    background-color: #4153f4;
    padding: 6px 14px;
    color: white;
    font-family: inherit;
    font-size: 12pt;
}

.guessBoard {
    position: absolute;
    top: 220px;
}

#guessButton {
    text-transform: uppercase;
    z-index: 1000;
    border: 4px double #fff;
    background-color: #4153f4;
    padding: 6px 14px;
    color: white;
    font-family: inherit;
    font-size: 12pt;
}

#guess {
    font-size: 18pt;
    border-radius: 2px;
}

#players {
    position: absolute;
    bottom: 20px;
    padding: 10px;
    border: 2px black solid;
    width: 350px;
    margin: 5px;
    font-size: 18pt;
    background-color: #f4d142

}

.nameInput {
    font-size: 18pt;
}

.instructions {
    font-size: 2em;
}

#answer {
    background-color: #4153f4;
    padding: 1em 2em;
    border-radius: 40px;
    border: 4px double #fff;
    margin-bottom: 20px;
    
}



/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {
/* Styles */




}




